  <section class="hero is-medium is-light" id="contact">
  <div class="hero-body">
    <div class="container">
    <div class="column is-12 has-text-centered">
        <h2 class="title is-3">Contact Us</h1>  
        </div>

      <div class="columns is-centered">
        <!-- Contact Info Section -->
        <div class="column">
          <div class="box">
            <article class="media">
              <figure class="media-left">
                <span class="icon is-large">
                  <i class="fas fa-phone fa-2x"></i>
                </span>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Phone</strong><br>
                    +606 410 0060
                  </p>
                </div>
              </div>
            </article>

            <article class="media">
              <figure class="media-left">
                <span class="icon is-large">
                  <i class="fab fa-whatsapp fa-2x"></i>
                </span>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>WhatsApp</strong><br>
                    <a href="https://api.whatsapp.com/send/?phone=60178017730&text=Hi%20Klinik%20Kenanga">+6017 801 7730</a>
                  </p>
                </div>
              </div>
            </article>

            <article class="media">
              <figure class="media-left">
                <span class="icon is-large">
                  <i class="fas fa-envelope fa-2x"></i>
                </span>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Email</strong><br>
                    <a href="mailto:general.kenanga@gmail.com">general.kenanga@gmail.com</a>
                  </p>
                </div>
              </div>
            </article>

            <article class="media">
              <figure class="media-left">
                <span class="icon is-large">
                  <i class="fas fa-map-marker-alt fa-2x"></i>
                </span>
              </figure>
              <div class="media-content">
                <div class="content">
                    <p>
                    <strong>Address</strong><br>
                    49-B, Ground Floor, Jalan Tun Perak, 75300 Bachang, Melaka, Malaysia
                  </p>
                </div>
              </div>
            </article>

            <article class="media">
              <div class="media-content">
                <div class="content">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15947.388884308908!2d102.241683!3d2.2112946!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31d1f1614542615f%3A0xdd4866d7a975e773!2sKlinik%20Kenanga%20%40%20Bachang%2C%20Melaka!5e0!3m2!1sen!2smy!4v1727063626759!5m2!1sen!2smy" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </article>
          </div>
        </div>
        </div>
      </div>
    </div>
    </div>
  </section>