<footer class="footer">
    <div class="container">
    <div class="column is-12 has-text-centered" style="padding-top:2.5rem">
      <!-- Social Media Section -->
      <div class="columns is-centered">
        <div class="column is-half has-text-centered">
          <h2 class="subtitle">Follow us on social media</h2>
          <a href="https://www.facebook.com/klinikkenangamelaka" class="icon is-large">
            <i class="fab fa-facebook fa-2x"></i>
          </a>
          <a href="https://www.instagram.com/kenanga.bachang/" class="icon is-large">
            <i class="fab fa-instagram fa-2x"></i>
          </a>
        </div>
      </div>
      </div>
        <div class="content is-grid is-small has-text-centered">
            <span>Klinik Kenanga  (CKAPS Registration No: 230401-13390-11)</span><span>Uno Medic Sdn. Bhd. (Company Registration Number: 202401002387)</span><span>2024</span>
        </div>
    </div>
</footer>
