{% if page.listPanel %}
    {% assign listPanel=site.data.[page.listPanel] %}
    <section class="hero is-medium" id="panel">
        <div style="background-color:white" class="hero-body">
            <div class="container">
                <div class="columns is-multiline is-centered">
                    {% if page.listPanelTitle %}
                        <div class="column is-12 has-text-centered">
                            <h2 class="title is-3">{{ page.listPanelTitle }}</h2>
                        </div>
                    {% endif %}

                    {% for callout in listPanel.items %}
                        <div style="align-content:center" class="column is-3 has-text-centered">
                            {% if callout.icon %}
                                    {% if callout.icon %}
                                        <img src = "/assets/images/panel/{{ callout.icon }}.webp" alt="{{ callout.title }}">
                                    {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endif %}
